<html lang="en">
	<head>
		<link rel="stylesheet" href="../static/style.css">
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <title>Error 401 - Unauthorized</title>
  </head>
  <body>
    <h1>Error 401 - Unauthorized</h1>
    <p>The server is unable to process the request because the client lacks valid authentication credentials for the target resource.</p>
    <p>Please provide valid authentication credentials and try again.</p>
  </body>
</html>