<html lang="en">
	<head>
		<title>index</title>
		<link rel="stylesheet" href="../static/style.css">
        
    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</head>

	<body>
        <ul>
            <li><a href="{{ url_for('public')}}">Home</a></li>
        </ul>
        <h1 class="d-flex justify-content-center">Register Please!</h1>
        <div class="msg d-flex justify-content-center">{{ msg }}</div>
        <div class="login-page">
            <form class = "form" action="{{ url_for('register')}}" method="post" autocomplete="off">
              <form class="login-form">
                <input type="text" name="username" placeholder="username" class="textbox" id="username" required></br></br>
                <input type="password" name="password" placeholder="password" class="textbox" id="password" required></br></br>
                <input type="email" name="email" placeholder="email" class="textbox" id="email" required></br></br>
                <button type = "submit" value = "Login">register</button>
                <p class="message">Already have an account? <a href="{{ url_for('login')}}">Sign In</a></p>
              </form>
            </form>
            </div>
          </div>
	</body>
</html>